*{ box-sizing:border-box}
body {
  position: relative;
  min-height: 100vh;
  background-color: #999fd8;
  background-repeat: no-repeat;
  margin:0;
  font-family: 'Lato', sans-serif;

}


 .naviBar .glowna {
  background-color: #999fd8;
  color: #ffffff;

}
 .naviBar {
  grid-area: header;
  overflow: hidden;
  background-color: #333333;
}
 .naviBar a {
  color: #ffffff;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  float: left;

}
.naviBar a:hover {
  background-color: #111111;
}
footer .contact {
  margin: 5px;
  padding: 5px;
}
footer {
  max-height: 150px;
  grid-area: footer;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
  text-align: left;  
  padding: 5px;       
  position: absolute;
  bottom: 0;
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

.indexmain {
  text-align: center;
	justify-content: space-around	;
  display: flex;
	padding: 10px;
  margin: 0;
  padding-bottom: 150px;
  hyphens: auto;
  font-family: 'Lato', sans-serif;

}
main section h1 {
 font-family: 'Lato', sans-serif;
 color: #ffffff;
	font-size: 40px;
	font-weight: 1;
}

main section .content {
  background-color: #4b507e;
  border: double #000000;
  padding: 50px;
  max-width: 500px;
  letter-spacing: 3px;
  text-align: justify;
  text-justify: distribute;
  hyphens: auto;
	font-size: 26px;
  color: #ffffff;
}


main section #face {
  text-align: center;
  border-radius: 30px;
}

main  .line {
	display: block;
  margin-top: 15px;
  margin-bottom: 15px;
	border-bottom:  double #f5a3a3;
}

main section blockquote {
	font-size: 1.1em;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

main section blockquote p {
	text-align: right;
} 
/* projects.css */
.projects {
  text-align: left;
	justify-content: space-between	;
  display: flex;
  flex-flow: column wrap;
	padding: 10px;
  margin: 5px;
  padding-bottom: 150px;
  font-family: 'Lato', sans-serif;

  /* display: flex;
  flex-direction: column;
  text-align: center;
	justify-content: space-around	;
  margin: 3%;
   padding-left: 150px;
  padding-right: 150px;
  padding-top: 20px;
  padding-bottom: 80px; */
}

.interests {
  text-align: left;
	justify-content: space-around	;
  display: flex;
  flex-flow: column wrap;
	padding: 10px;
  margin: 5px;
  padding-bottom: 150px;
  padding-right: 100px;
}

 .tytul{
  padding: 10px;
  text-decoration: none;
  font-family: 'Play', sans-serif;
	font-size: 40px;
	font-weight: 500;
}
.projects a{
  text-decoration: none;
}
 .logo {
  height: 200px;
  width: 200px;
  float: left;
  vertical-align: middle;
  padding-right:5px;
  padding-bottom: 5px;
  border-radius: 30px;
}
.projects .lang {
  vertical-align: middle;
  
  
  margin-right: 10px;
  background-color: transparent;
}


.project {
   max-width: 600px;
  font-family: 'Play', sans-serif;
  text-align: justify;
  font-size: 26px;
  margin: 3%;
  padding: 10px;
  color: #333333;
  
}
.hobb {
  max-width: 700px;
 font-family: 'Play', sans-serif;
 text-align: justify;
 font-size: 30px;
 margin: 3%;
 padding: 10px;
 color: #333333;
 
}
 .flex {
  display: flex;
  animation-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  text-align: center;
}

@media(max-width: 600px) {

	body {
		font-size: 14px;
	}
  main section .content{
    font-size: 14px;
  }
  .flex{
     text-align: center;
    font-size:14px ; 
    flex-direction: column;
  }
} 
